<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ichigo_attack_one0.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,502},{79,102}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{79,102}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{81,102}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{81,102}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one2.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,502},{79,102}}</string>
                <key>offset</key>
                <string>{-32,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,38},{79,102}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,140}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{97,140}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{131,68}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{131,68}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one6.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{131,68}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{131,68}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{131,68}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{131,68}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{131,68}}</string>
                <key>offset</key>
                <string>{7,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,72},{131,68}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_attack_one9.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{121,76}}</string>
                <key>offset</key>
                <string>{4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,64},{121,76}}</string>
                <key>sourceSize</key>
                <string>{145,140}</string>
            </dict>
            <key>ichigo_idle0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle14.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle15.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle18.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle19.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle20.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle23.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle24.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle26.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle27.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle28.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle29.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle31.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle32.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle33.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle35.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle36.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle37.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle38.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle40.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle41.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle42.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle44.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle45.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle46.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle47.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle49.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle5.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle50.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle51.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle53.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle54.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle55.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle56.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle58.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle59.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle6.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle60.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle62.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle63.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle64.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,87},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle65.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,257},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle67.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,318},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle68.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,240},{83,108}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle69.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,172},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{83,108}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{83,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle71.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{79,112}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle73.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{79,112}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle74.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,325},{75,108}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{75,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle75.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,80},{111,78}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{111,78}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle76.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,238},{109,78}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{109,78}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle77.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,402},{107,80}}</string>
                <key>offset</key>
                <string>{-11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{107,80}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle78.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,160},{109,78}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{109,78}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle79.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{109,78}}</string>
                <key>offset</key>
                <string>{-10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{109,78}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle8.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle80.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,325},{75,108}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,4},{75,108}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle81.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,72},{79,112}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle82.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{79,112}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,0},{79,112}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_idle9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,153},{83,110}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,2},{83,110}}</string>
                <key>sourceSize</key>
                <string>{129,112}</string>
            </dict>
            <key>ichigo_walk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,403},{79,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{79,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,484},{77,105}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{77,105}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,559},{73,105}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{73,105}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,425},{75,107}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{75,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,511},{77,105}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{77,105}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{77,107}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,342},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
            <key>ichigo_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,484},{73,107}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{73,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ichigo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f90d638ef1425eda942a6ec2cb28149$</string>
            <key>textureFileName</key>
            <string>ichigo.png</string>
        </dict>
    </dict>
</plist>
